<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .strikeout {
                  text-decoration: line-through;
                  color: #B8C2CC;
}
        </style>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header }}</h1>
         <!-- <input type="text" v-model="header"> -->
            <button v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
            <button v-else @click="changeState('default')">Cancel</button>
         <div v-if="state === 'edit'" class="add-item-form">
            <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
            <!-- <p>{{ characterCount }}/200</p> -->
            <button v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button>
         </div>
         <ul>
             <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
         </ul>
         <p v-if="items.length === 0">Nice job!</p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            let shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem: '',
                    items: [
                        {
                            label:'10 party hats',
                            purchased: false,
                        },
                        {
                            label:'2 board games',
                            purchased: true,
                        },
                        {
                            label:'20 cups',
                            purchased: false,
                        },           
                    ]
                },
                computed: {
              //      characterCount(){
              //          return this.newItem.length; 
                      reversedItems(){
                          return this.items.slice(0).reverse();
                      }
                    
                },
                methods: {
                    saveItem: function(){
                        this.items.push({
                            label:this.newItem,
                            purchased: false,
                        }, ); 
                        this.newItem= '';
                    },
                    changeState: function(newState) {
                        this.state = newState;

                        this.newItem = '';
                    },
                    togglePurchased: function(item) {
                        item.purchased = !item.purchased;

                    }
                }
            })
        </script>
    </body>
</html> 