<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header }}</h1>
         <!-- <input type="text" v-model="header"> -->
            <button v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
            <button v-else @click="changeState('default')">Cancel</button>
         <div v-if="state === 'edit'" class="add-item-form">
            <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
            <button v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button>
         </div>
         <a v-bind:href="newItem" target="_blank">Dynamic Link</a>
         <ul>
             <li v-for="item in items">{{ item }}</li>
         </ul>
         <p v-if="items.length === 0">Nice job!</p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            let shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem: '',
                    items: [
                        '10 party hats',
                        '2 board games',
                        '20 cups',
                    ]
                },
                methods: {
                    saveItem: function(){
                        this.items.push(this.newItem); 
                        this.newItem= '';
                    },
                    changeState: function(newState) {
                        this.state = newState;

                        this.newItem = '';
                    }
                }
            })
        </script>
    </body>
</html> 